.reponsive-image-container {
    background-size: contain;
}

.reponsive-image {
    width: 100%;
    height: auto;
}

.round-image{
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
}

.image-iframe{
    width: 50rem; 
    height: 6.125rem; 
    border:0; 
    transform: scale(1); 
    overflow:hidden;
}