<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Component Library</title>
    <link href="/style.css" rel="stylesheet">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
</head>
<body>
    <div class="page-layout">
        <nav class="navbar">
            <a href="/index.html" class="logo">EASY UI</a>
            <div class="external-links">
                <a href="https://github.com/Mohitk391/easyUI-component-library/tree/dev"><i class="fa fa-github" aria-hidden="true"></i></a>
                <a href="https://twitter.com/MohitPa88351529"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </div>
        </nav>
        <div class="main-body">
            <aside class="sidebar">
                <h3 class="sidebar-heading">Components</h3>
            <ul>
                <li class="sidebar-item">
                    <a class="component-link" href="/components/alert/alert.html">Alert</a>
                </li>
                <li class="sidebar-item">
                    <a class="component-link" href="/components/avatar/avatar.html">Avatar</a>
                </li>
                <li class="sidebar-item">
                    <a class="component-link" href="/components/badge/badge.html">Badge</a>
                </li>
                <li class="sidebar-item sidebar-item-active">
                    <a class="component-link" href="/components/button/button.html">Button</a>
                </li>
                <li class="sidebar-item">
                    <a class="component-link" href="/components/card/card.html">Card</a>
                </li>
                <li class="sidebar-item">
                    <a class="component-link" href="/components/image/image.html">Image</a>
                </li>
                <li class="sidebar-item">
                    <a class="component-link" href="/components/input/input.html">Input</a>
                </li>
                <li class="sidebar-item">
                    <a class="component-link" href="/components/list/list.html">List</a>
                </li>
                <li class="sidebar-item">
                    <a class="component-link" href="/components/modal/modal.html">Modal</a>
                </li>
                <li class="sidebar-item">
                    <a class="component-link" href="/components/rating/rating.html">Rating</a>
                </li>
            </ul>
            </aside>
            <main class="main">
                <!-- First Part-->
                <div class="component_wrapper">
                    <h2 class="component_heading">Button</h2>
                    <p>
                        The Button component has basic 2 types,
                        <span class="component_description">solid buttons</span> and 
                        <span class="component_description">outlined buttons</span>.
                    </p>
                    <h3 class="component_heading">Solid Buttons</h3>
                    <p>
                        The Solid button components has basic 5 types,
                        <span class="component_description">btn-primary</span>,  
                        <span class="component_description">btn-round</span>, 
                        <span class="component_description">btn-link</span>, 
                        <span class="component_description">btn-hover</span>, 
                        <span class="component_description">btn-disabled</span>.
                    </p>
                    <div class="component_wrapper_box">
                        <div class="flex flex-row-wrap">
                            <button class="btn btn-primary">Primary</button>
                            <button class="btn btn-round">Rounded </button>
                            <button class="btn btn-link">Link</button>
                            <button class="btn btn-hover">Hover</button>
                            <button class="btn btn-disabled">Disabled</button>
                        </div>
                    </div>

                    <div class="component_iframe">
                        <iframe
                            src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=text%2Fx-java&width=800&ds=false&dsyoff=0px&dsblur=100px&wc=true&wa=false&pv=0px&ph=0px&ln=true&fl=1&fm=Hack&fs=13.5px&lh=181%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2520btn-primary%2522%253EPrimary%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-round%2522%253ERounded%2520%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-link%2522%253ELink%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-hover%2522%253EHover%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-disabled%2522%253EDisabled%253C%252Fbutton%253E"
                            class="button-iframe"
                            sandbox="allow-scripts allow-same-origin">
                        </iframe>
                    </div>
                <!-- Second Part-->
                    <h3 class="component_heading">Outlined Buttons</h3>
                    <p>
                        The Outlined button components has basic 4 types,
                        <span class="component_description">btn-outline-primary</span>,  
                        <span class="component_description">btn-outline-round</span>, 
                        <span class="component_description">btn-outline-icon</span>, 
                        <span class="component_description">btn-outline-hover</span>, 
                        <span class="component_description">btn-outline-disabled</span>.
                    </p>
                    <div class="component_wrapper_box">
                        <div class="flex flex-row-wrap">
                            <button class="btn btn-outline-primary">Primary</button>
                            <button class="btn btn-outline-round">Rounded </button>
                            <button class="btn btn-outline-icon"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
                            <button class="btn btn-outline-hover">Hover</button>
                            <button class="btn btn-outline-disabled">Disabled</button>
                        </div>
                    </div>

                    <div class="component_iframe">
                        <iframe
                            src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=text%2Fx-java&width=800&ds=false&dsyoff=0px&dsblur=100px&wc=true&wa=false&pv=0px&ph=0px&ln=true&fl=1&fm=Hack&fs=13.5px&lh=181%25&si=false&es=2x&wm=false&code=%2520%253Cbutton%2520class%253D%2522btn%2520btn-outline-primary%2522%253EPrimary%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-outline-round%2522%253ERounded%2520%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-outline-icon%2522%253E%253Cimg%2520src%253D%2522...%2522%2520alt%253D%2522...%2522%252F%253E%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-outline-hover%2522%253EHover%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-outline-disabled%2522%253EDisabled%253C%252Fbutton%253E"
                            class="button-iframe"
                            sandbox="allow-scripts allow-same-origin">
                        </iframe>
                    </div>
                <!-- Third Part-->
                    <h3 class="component_heading">Icon and Floating Action Buttons</h3>
                    <p>
                        The floating action button can be implemented using
                        <span class="component_description">btn-floating-action</span>,  
                        and a button with an icon can be implemented using 
                        <span class="component_description">btn-icon</span>.
                    </p>
                    <div class="component_wrapper_box">
                        <div class="flex flex-row-wrap">
                            <button class="btn btn-floating-action"><i class="fa fa-plus" aria-hidden="true"></i></button>
                            <button class="btn btn-icon"><span class="btn-icon-text">Login</span><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                        </div>
                    </div>

                    <div class="component_iframe">
                        <iframe
                            src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=htmlmixed&width=800&ds=false&dsyoff=0px&dsblur=100px&wc=true&wa=false&pv=0px&ph=0px&ln=true&fl=1&fm=Hack&fs=13.5px&lh=181%25&si=false&es=2x&wm=false&code=%2520%253Cbutton%2520class%253D%2522btn%2520btn-floating-action%2522%253E%250A%2520%2520%2520%253Cimg%2520src%253D%2522...%2522%2520alt%253D%2522...%2522%252F%253E%250A%253C%252Fbutton%253E%250A%2520%253Cbutton%2520class%253D%2522btn%2520btn-icon%2522%253E%250A%2520%2520%2520%253Cspan%2520class%253D%2522btn-icon-text%2522%253ELogin%253C%252Fspan%253E%250A%2520%2520%2520%253Cimg%2520src%253D%2522...%2522%2520alt%253D%2522...%2522%252F%253E%250A%253C%252Fbutton%253E"
                            class="button-iframe btn-icon-iframe"
                            sandbox="allow-scripts allow-same-origin">
                        </iframe>
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>
</html>