.avatar {
    position: relative;
}

.avatar_flex {
    align-items: flex-end;
    gap: 2rem;
    flex-flow: row wrap;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.avatar-xl{
    height: 10rem;
    width: 10rem;
}

.avatar-lg{
    height: 8rem;
    width: 8rem;
}

.avatar-md{
    height: 6rem;
    width: 6rem;
}

.avatar-sm{
    height: 4rem;
    width: 4rem;
}

.avatar-xs{
    height: 2rem;
    width: 2rem;
}

.round {
    border-radius: 50%;
}

.sqaure {
    border-radius: 10%;
}



.avatar-iframe {
    width: 50rem; 
    height: 20.375rem; 
    border:0; 
    transform: scale(1); 
    overflow:hidden;
}