<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alert</title>
    <link href="/style.css" rel="stylesheet">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
</head>
<body>
    <div class="page-layout">
        <nav class="navbar">
            <a href="/index.html" class="logo">EASY UI</a>
            <div class="external-links">
                <a href="https://github.com/Mohitk391/easyUI-component-library/tree/dev"><i class="fa fa-github" aria-hidden="true"></i></a>
                <a href="https://twitter.com/MohitPa88351529"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </div>
        </nav>
        <div class="main-body">
            <aside class="sidebar">
                <h3 class="sidebar-heading">Components</h3>
            <ul>
                <li class="sidebar-item sidebar-item-active">
                    <a class="component-link" href="/components/alert/alert.html">Alert</a>
                </li>
                <li class="sidebar-item">
                    <a class="component-link" href="/components/avatar/avatar.html">Avatar</a>
                </li>
                <li class="sidebar-item">
                    <a class="component-link" href="/components/badge/badge.html">Badge</a>
                </li>
                <li class="sidebar-item">
                    <a class="component-link" href="/components/button/button.html">Button</a>
                </li>
                <li class="sidebar-item">
                    <a class="component-link" href="/components/card/card.html">Card</a>
                </li>
                <li class="sidebar-item">
                    <a class="component-link" href="/components/image/image.html">Image</a>
                </li>
                <li class="sidebar-item">
                    <a class="component-link" href="/components/input/input.html">Input</a>
                </li>
                <li class="sidebar-item">
                    <a class="component-link" href="/components/list/list.html">List</a>
                </li>
                <li class="sidebar-item">
                    <a class="component-link" href="/components/modal/modal.html">Modal</a>
                </li>
                <li class="sidebar-item">
                    <a class="component-link" href="/components/rating/rating.html">Rating</a>
                </li>
            </ul>
            </aside>
            <main class="main">
                <div class="component_wrapper">
                    <h2 class="component_heading">Alert</h2>
                    <p>
                        The alert component has basic 4 types,
                        <span class="component_description">alert-success</span>, 
                        <span class="component_description">alert-danger</span>,
                        <span class="component_description">alert-info</span>,
                        <span class="component_description">alert-warning</span>, 
                        and 2 additional basic types <span class="component_description">alert-primary</span> and <span class="component_description">alert-secondary</span>.
                    </p>
                    <h3 class="component_heading">Standard Alerts</h3>
                    <div class="component_wrapper_box">
                        <div class="alert-flex flex">
                            <div class="alert alert-primary"><strong>Primary Alert:</strong> Check this primary message!!</div>
                            <div class="alert alert-secondary"><strong>Secondary Alert:</strong> Check this secondary message!!</div>
                            <div class="alert alert-success"><strong>Success Alert:</strong> Check this success message!!</div>
                            <div class="alert alert-danger"><strong>Danger Alert:</strong> Check this danger message!!</div>
                            <div class="alert alert-info"><strong>Info Alert:</strong> Check this info message!!</div>
                            <div class="alert alert-warning"><strong>Warning Alert:</strong> Check this warning message!!</div>
                            </span>
                        </div>
                    </div>

                    <div class="component_iframe">
                        <iframe
                            src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=text%2Fx-java&width=800&ds=false&dsyoff=0px&dsblur=100px&wc=true&wa=false&pv=0px&ph=0px&ln=true&fl=1&fm=Hack&fs=13.5px&lh=173%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522alert%2520alert-primary%2522%253E%253Cstrong%253EPrimary%2520Alert%253A%253C%252Fstrong%253E%2520Check%2520%250A%2520this%2520primary%2520message%21%21%253C%252Fdiv%253E%250A%253Cdiv%2520class%253D%2522alert%2520alert-secondary%2522%253E%253Cstrong%253ESecondary%2520Alert%253A%253C%252Fstrong%253E%2520Check%2520this%2520secondary%2520message%21%21%253C%252Fdiv%253E%250A%253Cdiv%2520class%253D%2522alert%2520alert-success%2522%253E%253Cstrong%253ESuccess%2520Alert%253A%253C%252Fstrong%253E%2520Check%2520this%2520success%2520message%21%21%253C%252Fdiv%253E"
                            class="alert-iframe"
                            sandbox="allow-scripts allow-same-origin">
                        </iframe>
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>
</html>